
/* Basic Layout */

/** Header and Footer **/
/* header {
    position: fixed;
} */
header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

header {
    top: 0;
    width: 100%;
    position: sticky;
}

header div:nth-child(1){
    flex: 1;
}
header nav:nth-child(3) {
    margin-right: 20px;
}

/** About page **/
/*** bio ***/
section.bio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    & > img {
        width: 50%;
        max-width: 500px;
        border-radius: 40%;
    }
    & > section {
        display: flex;
        flex-direction: column;
        width: 50%;
        & > h3 {
            font: 2em 'Great Vibes', cursive;
            align-self: center;
            margin: 0;
        }
        & > p {
            font: 1.2em "Gill Sans", sans-serif;
            align-self: center;
            margin: 0 20px; 
        }
    }
}
/*** skills ***/
section.skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

/* Element wise */
nav.header_nav {
    display: flex;
    margin: 10px;
    & > a {
        margin: 10px;
    }
}

nav.social_media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 10px;
    & > a {
        margin: 0 5px;
    }
    & img {
        width: 20px;
        height: 20px;
    }
}

section.technical_skills {
    & > section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    & img {
        width: 60px;
        margin: 10px;
    }
}

section.ability {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    & > h3 {
        font-size: 1.5em;
        margin: 10px;
        align-self: center;
    }
    & > section { /* soft or hard */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        & > div {
            font: 1em 'Great Vibes', cursive;
            border: 1px solid rgb(160, 139, 22);
            border-radius: 50px;
            margin: 10px;
            padding: 10px;
        }
    }
}

a.logo, a.contact_button {
    font-family: 'Great Vibes', cursive;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}




/* Interaction */

/** Hints **/
img, a, button{
    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

a {
    text-decoration: none;
    color: black;
}

/** Requests **/



/* Mobile */
/**** minimum mobile width 768 ****/
@media only screen and (max-width: 768px) {
    section.skills {
        flex-direction: column;
        & > section {
            flex-direction: column;
        }
        &.technical_skills img {
            width: 40px;
        }
    }
    section.bio {
        flex-direction: column;
        & > section {
            width: 80%;
            & > h3 {
                font-size: 1.5em;
            }
            & > p {
                font-size: 1em;
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    header > nav.social_media {
        display: None;
    }
    
}

@media only screen and (max-width: 384px) {
    footer {
        flex-direction: column;
    }
    #header_logo{
        display: none;
    }
}

/**** minimum mobile width 320 ****/
