/* Animation */
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

/* Fonts */
@font-face {
    font-family: "PTSerif";
    src: url(../fonts/PTSerif.ttf);
}
@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans.ttf);
}
@font-face {
    font-family: "Pacifico";
    src: url(../fonts/Pacifico.ttf);
}
@font-face {
    font-family: "Agbalumo";
    src: url(../fonts/Agbalumo.ttf);
}

/* Variables */
:root {
    --background-color: white;
    --font-color: black;
    --decorate-color: rgb(160, 139, 22);
    --fine-decorate-color: color-mix(in oklab, var(--decorate-color, lightgray) 70%, gold);

    --script-font-family: "Pacifico", cursive;
    --display-font-family: "Agbalumo", serif;
    --primary-font-family: "PTSerif", serif;
    --secondary-font-family: "OpenSans", sans-serif;

}

a {
    text-decoration: none;
    color: var(--font-color, black);
}

* {
    font-family: var(--primary-font-family, serif);
}

/* Basic Layout */

/** Header and Footer **/
header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--decorate-color, lightgray);
}

header {
    position: sticky;
    & div:nth-child(2){
        flex: 1;
    }
}

/* Following pages may also appear in home page, so the following rules apply to class */

/** Projects page **/
/** About page **/
/*** bio ***/
.main_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    & > img {
        width: 50dvw;
        max-width: 500px;
        border-radius: 5%;
    }
    & > aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        padding: 10px;
        & > h3 {
            font-family: var(--display-font-family, cursive);
            font-size: 2em;
            margin: 10px;
        }
        & > p {     
            font-family: var(--secondary-font-family, sans-serif);
        }
    }
}
/*** skills ***/
.skills section:first-child {
    flex: 0 0 50%;
}

/*** Contact Page ***/

aside.contact_info {
    & > img {
        width: 100%;
        max-width: 500px;
    }
    & > a > img {
        width: 50px;
    }
}

/* Element wise */
nav.header_nav {
    display: flex;
    margin: 10px;
    & > a {
        margin: 10px;
    }
}

.social_media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 10px;
    & > a {
        margin: 0 5px;
    }
    & img {
        width: 20px;
    }
}

.technical_skills {
    & > section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    & img {
        width: 60px;
        margin: 10px;
    }
}

.ability {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: center;

    & > section { /* soft or hard */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
}

.ability div{
    font: 1em var(--icon-font-family, serif);
    border: 1px solid var(--decorate-color, lightgray);
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
}

.ability div:nth-child(odd) {
    background-color: var(--decorate-color, lightgray);
}

.message_form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid var(--decorate-color, lightgray);
    border-radius: 5px;
    white-space: nowrap;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-family: var(--display-font-family, cursive);
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
label {
    display: block;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--decorate-color, lightgray);
    border-radius: 5px;
    box-sizing: border-box;
}
  
.logo, .contact_button, button {
    background-color: var(--decorate-color, lightgray);
    font-family: var(--script-font-family, cursive);
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    &:hover {
        background-color: gold;
    }
}
.contact_button {
    animation: pulse 2s infinite;
    
}
/* Interaction */

/** Hints **/
a, button{
    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

section:has(img) {
    background-color: var(--background-color, white);
}


/** Animations **/


/** Requests **/

/* Mobile */
/**** minimum mobile width 768 ****/
@media only screen and (max-width: 768px) {
    .main_section {
        flex-direction: column;
        & > aside > img {
            display: none;
        }
    }
    }
@media only screen and (max-width: 480px) {
    header > nav.social_media {
        display: None;
    }
    
}

@media only screen and (max-width: 384px) {
    footer {
        flex-direction: column;
    }
    #header_logo{
        display: none;
    }
}

